.list{
    display: flex;
    width: 100%;
    .list__container{
        flex: 6;
        .datatable__container{
            padding: 30px;
            display: flex;
            flex-direction: column;
            gap: 15px;
            color: #333;
            .datatable__top{
                display: flex;
                align-items: center;
                justify-content: space-between;
                -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
                box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
                padding: 15px;
                h1{
                    font: {
                        size: 28px;
                        weight: 600;
                    };
                }
                .datatable__add{
                    display: flex;
                    align-items: center;
                    padding: 5px 15px;
                    background: #7451f8;
                    border-radius: 5px;
                    color: #fff;
                    font-size: 16px;
                    gap: 5px;
                    .icon{
                        font-size: 18px;
                    }
                }
            }
        }
    }
}