$text-primary: #333;
$text-light: #999;

$light: #fff;
$dark: #111;

$primary: #7451f8; //Medium Slate Blue
$primary-light: #ece8ff; //Lavender

$orchid: #DE5ADB;
$pink-lace: #FADFF3;

$harvest-gold: #E09B01;
$floral-white: #FDF9ED;

$green: #00B874; //Munsell
$honeydew: #EAFFED;

$red: #ff0000;
$linen: #fdeded;
