.gallery__upload__modal, .g_modal__overlay{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}
.gallery__upload__modal .g_modal__container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 50%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 15px 30px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 15px;
    .g_upload__close{
        align-self: flex-end;
        display: block;
        padding: 5px;
        font-size: 26px;
        color: #ff0000;
        border-radius: 50%;
        cursor: pointer;
        &:hover{
            background: #fdeded;
        }
    }
}