.new__item{
    display: flex;
    width: 100%;
    .newItem__container{
        flex: 6;
        .newItem__inner{
            margin: 30px;
            color: #333;
            display: flex;
            flex-direction: column;
            gap: 15px;
            .newItem__top{
                -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
                box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
                padding: 15px;
                .newItem__title{
                    font: {
                        size: 24px;
                        weight: 600;
                    };
                }
            }
            .newItem__bottom{
                display: flex;
                gap: 15px;
                color: #333;
                .newItem__left{
                    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
                    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
                    padding: 15px;
                    flex: 1;
                    text-align: center;
                    img{
                        width: 200px;
                        height: 200px;
                        border-radius: 50%;
                        object-fit: cover;
                        margin-bottom: 30px;
                    }
                    .formInput__img{
                        padding: 0 30px;
                        label{
                            font-size: 14px;
                            font-weight: 800;
                            cursor: pointer;
                            padding: 8px;
                            background-color: #7451f8;
                            color: #fff;
                            border-radius: 5px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 5px;
                        }
                    }
                }
                .newItem__right{
                    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
                    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
                    padding: 15px;
                    flex: 2;
                    form.newItem__form{
                        display: flex;
                        flex-wrap: wrap;
                        gap: 30px;
                        justify-content: space-evenly;
                        .formInput{
                            width: 40%;
                            input{
                                width: 100%;
                                padding: 10px 15px;
                                border: 0;  
                                outline: 0;
                                border-radius: 5px;  
                                box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;  
                                box-sizing: border-box;  
                                transition: all 0.2s ease-in-out;  
                                appearance: none;  
                                -webkit-appearance: none;
                                &:focus {  
                                box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;  
                                }
                            }
                        }
                        .formBtn{
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            button{
                                width: 150px;
                                padding: 10px;
                                border: 0;  
                                outline: 0;
                                border-radius: 5px;
                                cursor: pointer;
                                color: #fff;
                                background-color:#7451f8;
                                font-size: 14px;
                                font-weight: 800;
                                margin-top: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}