form.newVenue__form{
    display: flex;
    flex-direction: column;
    .formInput{
        width: 100%;
        display: flex;
        flex-direction: column;
        .error{
            font-size: 12px;
            color: #ff0000;
        }
        .formInput__title{
            color: #333;
            font: {
                size: 16px;
                weight: 400;
            }
        }
        .formBtn__btn{
            width: max-content;
            padding: 10px 30px;
            box-sizing: border-box;
            border: 0;  
            outline: 0;
            border-radius: 5px;
            cursor: pointer;
            color: #fff;
            background-color:#7451f8;
            font-size: 14px;
            font-weight: 800;
        }
        .formInput__group{
            // width: 100%;
            display: flex;
            gap: 15px;
            margin-bottom: 30px;
            flex-wrap: wrap;
            .formInput__field{
                display: flex;
                flex-direction: column;
                flex: 1;
                .formInput__input{
                    padding: 10px 15px;
                    border: 0;  
                    outline: 0;
                    border-radius: 5px;  
                    box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;  
                    box-sizing: border-box;  
                    transition: all 0.2s ease-in-out;  
                    appearance: none;  
                    -webkit-appearance: none;
                    &:focus {  
                        box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;  
                    }
                    &[type=number]::-webkit-outer-spin-button,
                    &[type=number]::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                        margin: 0;
                    }
                    /* Firefox */
                    &[type=number] {
                        -moz-appearance: textfield;
                    }
                }
            }
        }
    }
    .formBtn{
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 30px;
        .formBtn__submit{
            width: 150px;
            padding: 10px;
            border: 0;  
            outline: 0;
            border-radius: 5px;
            cursor: pointer;
            color: #fff;
            background-color:#7451f8;
            font-size: 14px;
            font-weight: 800;
            transition: 300ms ease-in-out;
            &:hover{
                transform: scale(0.95);
            }
        }
    }
}
.ck-toolbar{
    border: 0;  
    outline: 0;
    border-radius: 5px;
    box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;  
    box-sizing: border-box;
}
.ck-editor__editable_inline {
    min-height: 250px;
    border: 0;  
    outline: 0;
    border-radius: 5px;  
    box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;  
    box-sizing: border-box;
}